@import "@radix-ui/colors/gray.css" layer(base);
@import "@radix-ui/colors/gray-alpha.css" layer(base);
@import "@radix-ui/colors/gray-dark.css" layer(base);
@import "@radix-ui/colors/gray-dark-alpha.css" layer(base);

@import "@radix-ui/colors/pink.css" layer(base);
@import "@radix-ui/colors/pink-dark.css" layer(base);

@import "@radix-ui/colors/blue.css" layer(base);
@import "@radix-ui/colors/blue-dark.css" layer(base);

@import "@radix-ui/colors/green.css" layer(base);
@import "@radix-ui/colors/green-dark.css" layer(base);

@import "@radix-ui/colors/yellow.css" layer(base);
@import "@radix-ui/colors/yellow-dark.css" layer(base);

@import "@radix-ui/colors/orange.css" layer(base);
@import "@radix-ui/colors/orange-dark.css" layer(base);

@import "@radix-ui/colors/tomato.css" layer(base);
@import "@radix-ui/colors/tomato-dark.css" layer(base);

@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-gray-a-1: var(--gray-a1);
  --color-gray-a-2: var(--gray-a2);
  --color-gray-a-3: var(--gray-a3);
  --color-gray-a-4: var(--gray-a4);
  --color-gray-a-5: var(--gray-a5);
  --color-gray-a-6: var(--gray-a6);
  --color-gray-a-7: var(--gray-a7);
  --color-gray-a-8: var(--gray-a8);
  --color-gray-a-9: var(--gray-a9);
  --color-gray-a-10: var(--gray-a10);
  --color-gray-a-11: var(--gray-a11);
  --color-gray-a-12: var(--gray-a12);

  --color-pink-1: var(--pink-1);
  --color-pink-2: var(--pink-2);
  --color-pink-3: var(--pink-3);
  --color-pink-4: var(--pink-4);
  --color-pink-5: var(--pink-5);
  --color-pink-6: var(--pink-6);
  --color-pink-7: var(--pink-7);
  --color-pink-8: var(--pink-8);
  --color-pink-9: var(--pink-9);
  --color-pink-10: var(--pink-10);
  --color-pink-11: var(--pink-11);
  --color-pink-12: var(--pink-12);

  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --font-*: initial;
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
}

@layer base {
  body {
    @apply font-sans bg-gray-1 text-gray-12;
  }
}

@utility checkered {
  --checked: var(--gray-2);

  background-image: linear-gradient(45deg, var(--checked) 25%, transparent 25%),
    linear-gradient(135deg, var(--checked) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checked) 75%),
    linear-gradient(135deg, transparent 75%, var(--checked) 75%);

  background-size: 25px 25px; /* Must be a square */

  background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
}

@layer components {
  ::selection {
    @apply bg-pink-4 text-pink-12;
  }
}
